
<h1><%=@team_name%></h1>
<h1>Team Motto: <%=@team_motto%></h1>


<h2>Hero Name: <%=@h1name%></h2>
<h2>Hero Power: <%=@h1power%></h2>
<h2>Hero Biography: <%=@h1bio%></h2>


<h2>Hero Name: <%=@h2name%></h2>
<h2>Hero Power: <%=@h2power%></h2>
<h2>Hero Biography: <%=@h2bio%></h2>

<h2>Hero Name: <%=@h3name%></h2>
<h2>Hero Power: <%=@h3power%></h2>
<h2>Hero Biography: <%=@h3bio%></h2>
