<h1><%=@name%></h1>
<h2>Team Motto: <%=@motto%></h2>

<% @team_members.each do |member| %>
    <p>Hero Name: <%= member["name"] %></p><br>
    <p>Hero Power: <%= member["power"] %></p><br>
    <p>Hero Biography: <%= member["biography"] %></p><br>
<% end %>
