<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Teams</title>
 </head>
 <body>
    <h1><%=@team_name%></h1>
    <!-- </div><br> -->
    <h2>Team Motto: <%=@team_motto%></h2>
    <!-- </div><br> -->
    <h2>Hero Name: <%=@hero1_name%></h2>
    <!-- </div><br> -->
    <p>Hero Power: <%=@hero1_power%></p>
    <p>Hero Biography: <%=@hero1_bio%></p>
    <!-- </div><br> -->
    <h2>Hero Name: <%=@hero2_name%></h2>
    <!-- </div><br> -->
    <p>Hero Power: <%=@hero2_power%></p>
    <p>Hero Biography: <%=@hero2_bio%></p>
    <!-- </div><br> -->
    <h2>Hero Name: <%=@hero3_name%></h2>
    <!-- </div><br> -->
    <p>Hero Power: <%=@hero3_power%></p>
    <p>Hero Biography: <%=@hero3_bio%></p>
</body>
</html>
